@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root{
  @apply bg-primary text-primary
  
}

.rounded-div{
  @apply border border-secondary rounded-3xl shadow-xl bg-primary px-2 max-w-[1240px] w-full mx-auto
}

.dark{
  --color-bg-primary:#321F28;
  --color-bg-secondary:#734046;
  --color-text-primary:#dbdbdb;
  --color-text-secondary:#e2e8f0;
  --color-text-accent:#E79E4F;
  --color-bg-input:#E79E4F;
  --color-bg-button:#E79E4F;
}

.light{
  --color-bg-primary:#f2f2f2;
  --color-bg-secondary:#edf2f7;
  --color-text-primary:#000000;
  --color-text-secondary:#FAD4D4;
  --color-text-accent:#F47C7C;
  --color-bg-input:#FAD4D4;
  --color-bg-button:#F47C7C;
}